.art-media-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

.media-buttons {
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    border: none;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: white;
    font-size: 1.2rem;
}

.media-buttons:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#060;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .media-buttons:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

.art-media-container-div {
    display: flex;
    align-items: center;
    justify-content: center;
}