@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.art-media-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

.media-buttons {
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    border: none;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: white;
    font-size: 1.2rem;
}

.media-buttons:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#060;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .media-buttons:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

.art-media-container-div {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 4vh;
    padding: 1rem;
    gap: 1rem;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}

.art-media-container-div::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }

.media-tiles {
    background-color: white;
    max-width: 7rem;
    max-height: 7rem;
    min-width: 7rem;
    min-height: 7rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anchor-tag-styling {
    font-family: 'Permanent Marker', cursive;
    color: black;
    text-decoration: none;
}

.anchor-tag-styling:hover {
    color: red;
}