@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.navbar {
    display: flex;
    justify-content: space-evenly;
}
@media (max-width: 600px){
    .navbar {
        flex-direction: column;
        margin: 1rem;
    }
}
.aban-title {
    color: white;
    margin-right: 10vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.navbar-names {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: white;
    font-size: 1.2rem;
}

.navbar-names:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:red;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-names:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }